/* место для вашего кода */
body {
  color: #000000;
}

.header {
  margin-top: 92px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
}

.header_menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list {
  line-height: 21.13px;
  display: flex;
  list-style: circle;
  height: 100%;
  padding-left: 26.5px;
  padding-top: 44px;
  gap: 32px;
}

.header__link_active {
  text-decoration: none;
  line-height: 21.13px;
}

.header__link {
  letter-spacing: 0.01em;
  text-underline-offset: 5px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
  align-items: start;
}  

.header__address {
  padding-top: 5px;
  padding-left: 187px;
}

.address a {
  letter-spacing: 0.01em;
  text-underline-offset: 5px;
}

.cover {
  margin-top: 93px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 757px;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
  inset: 0;
}

.cover__title {
  padding: 165px 50px 0px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text {
  line-height: 115px;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 140px;
  letter-spacing: 0.3em;
}
.aligned-text_right {
  text-align: right;
  display: block;
  line-height: 100px;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 78px;
  padding-right: 50px;
  padding-top: 135px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  margin: 0;
  word-spacing: 18.5px;
  text-align: left;
}

.bet-button {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  color: #fff;
}

.lots {
  margin-top: 184px;
  height: 692px;
  padding-left: 24px;
  padding-right: 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 100px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  height: 563px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  padding-top: 51px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  position: relative;
  z-index: 2;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 48px;
  position: relative;
  z-index: 2;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-weight: 400;
  display: block;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  padding-top: 34px;
  padding-left: 40px;
  text-underline-offset: 5px;
}

.about {
  min-height: 100px;
  margin-top: 146px;
}

.about__column {
  padding-left: 24px;
  padding-right: 24px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 275px 1fr 1.2fr;
  grid-template-areas:
    "logo title"
    ". text-first"
    ". text-second";
  justify-items: center;
  align-items: end;
  column-gap: 25px;
  row-gap: 6px;
}

.about__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: #000;
  grid-area: logo;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  justify-self: start;
  padding-bottom: 93px;
  grid-area: title;
}

.about__text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: flex-start;
}

.about__text_first {
  grid-area: text-first;
  letter-spacing: 0.1px;
}

.about__text_second {
  grid-area: text-second;
  letter-spacing: 0.01px;
}

.spece_min {
  letter-spacing: 0.1px;
}

.spece_max {
  letter-spacing: 0.3px;
}

.footer {
  margin-top: 178px;
  margin-bottom: 88px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.footer__menu {
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  justify-self: center;
  
}

.footer__menu-list-item {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  width: 240px;
  height: 48px;
  gap: 48px;
  justify-self: end;
}